
  .mobile-menu-bar {
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    flex-direction: column;
    box-sizing: border-box;
    height:20%;
    width:100%;
    padding-top: 4px;
  }

  .mobile-top-menu {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: #fff;
  }

  .mobile-top-menu > img {
      height: 52px;
  }

  .mobile-top-menu > #menu-logo {
    position: absolute;
    top: 0;
    right: 8px;
    width: 18px;
  }

  .mobile-main-menu {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      padding: 8px 0px 8px 0px;
      font-size: 16px;
      font-weight: 500;
      background-color: #fff;
  }

  .menu-item {
    width:30px;
    height: 24px;
}