@import './color.scss';

ul.home-best {
  display: inline-block;
  border: 1px solid #c4c4c4;
  padding: 10px;
  //margin-top: 20px;
  //margin: 20px auto;
  width: 70%;
  background-color: #fff;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px -1px 1px 6px rgba(0, 0, 0, 0.02);
  }

ul.homeRank {
  display: inline-block;
  border: 1px solid #c4c4c4;
  padding: 10px;
  margin-top: 10px auto;
  width: 70%;
  background-color: #fff;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px -1px 1px 6px rgba(0, 0, 0, 0.02);
  }
  
ul.frameList {
  display: inline-flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 8px;
  background-color: #f1f1f1;
  border: 1px solid #c4c4c4;
  border-radius: 10px 10px 10px 10px;
  padding: 8px;
}

.rolling-box {
  display: inline-flex;
  width: 200px;
  height: 50px;
  text-align: center;
  border: 1px solid #848484;
} 

ul.rolling-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

ul.li.rolling-box {
  width: 100%;
  height: 100%;
  transition: .5s;
  position: absolute;
  transition: top .75s;
  top: 100%;
  z-index: 1;
  background-color: #ffffff;
}

.gold {
  color: $gold;
}

.silver {
  color: $silver;
}

.bronze {
  color: $bronze;
}

.hello {
  width: 100%;
  padding-top: 150px;
  padding-bottom: 150px;
}

ul.nt-title{
  list-style: none;
}

li.nt-title{
  list-style: none;
}

li.div.nt-title {
  font-size: 28px;
  color: #4e4e4e;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}